.tablero{
    width: 600px;
    height: 600px;
    border: 2px solid yellow;
    margin: 0 auto;
    background-color: black;
    background-image: url("../IMG/espacioInfinito.png");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    position: relative;
    animation: moverfondo 30s linear infinite ;
    display: flex;
    flex-wrap: wrap;
}
.tablero div{
    width: 40px;
    height: 40px;
}

.nave1{
    background-image: url("../IMG/nave2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*animacion mover fondo*/
@keyframes moverfondo {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600px;
    }
}